:root{

--dark:rgb(20, 20, 20);
--primary:#fff;
--row:#524f49;
--numbers:#24221d;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

font-family: 'Times New Roman', Times, serif;
width: 100%;
height: 100vh;
;
}

#calculator-brick{

    background-color: var(--dark);
    width: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1,1fr 2fr);
    grid-gap: 15px;
     margin: auto;
    padding: 10px 10px 15px 10px;
    border-radius: 21px;
    margin-top: 20px;
}
#display-section{
   
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

#display-section #enter-text{
    outline: none;
    border: none;
    background-color: var(--dark);
    color: var(--primary);
    width: 100%;
    font-size: 1rem;
    text-align: right;
}
#result{
color: gray;
margin-block: 5px;
}

#toggle{
    position: relative;
    width: 71px;
    height: 39px;
    border-radius: 24px 
}
#scroller{
    position: relative;
    outline: none;
    border: none;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    cursor: pointer;
    background-color: var(--primary);
}
#ball{
    position: absolute;
    top: 2px;
    left: 1px;
    width: 35px;
    height: 35px;
    border: 2px solid ;
    background-color: var(--dark);
    border-radius: 50%;
}



#keys-section{
display: grid;
grid-template-columns: repeat(4,1fr);
grid-gap: 5px;
grid-auto-rows: minmax(auto, 54px);
width: 223px;
}
.keys{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right,rgb(20, 20, 20),#413e3a);
color: var(--primary);
text-align: center;
border-radius: 11px;
box-shadow: 0 0 2px 0 gray;
font-size: 1.3rem;
font-family: sans-serif;
}

.opt{
    background-image: linear-gradient(to bottom right,rgb(255 86 5),#e98f2ffa);
    box-shadow: 0 0 3px 1px rgb(255 86 5);;
}

.keys:active{
transform: scale(0.98);
}